.multistep {
  background: #E9C3AE;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.css-b2sho8-MuiContainer-root {
  padding: 0px !important;
}
.css-qa9kpq-MuiPaper-root {
  padding: 90px !important;
  margin-top: 6% !important;
}
.css-1150k6q {
  text-align: right !important;
  position: static !important;
    margin-top: 10px
}
